.PieChart{
    position: relative;
    text-align: center;
}

h1{
    margin-top: 0px;
}

.PieChartContainer2{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 30%;
  
    
}

.Legend{
    padding-left: 30%;
    background-color: cornflowerblue;
}