.widgetsContainerprinc{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    
}

.widgetsContainer1{ /*TOP 10*/
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.widgetsContainer2{ /*NEWS + FEAR + CAPITALISATION*/
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 2%;
}

.widgetsContainer3{ /*GRAPHIQUE + WHALE ALERT*/
    display: flex;
    flex-direction: row;
}

.widgetsContainer4{ /*WIDGCONT1 & 2*/
    display: flex;
    flex-direction: row;
}

.widgetsContainer5{ /*TITLE & WIDCONT2*/
    display: flex;
    flex-direction: column;
    
}

.widget2{
    margin-right: 2%;
}

.widget3{
    margin-right: 2%;
}

.widget6{ 
    margin-left: 1%;
}
.widget1,.widget2,.widget3,.widget4,.widget5,.widget6{

    /*flip card*/
    transform-style: preserve-3d;
    transition: 1s;

    box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.widget1.flip, .widget2.flip, .widget3.flip, .widget4.flip, .widget5.flip, .widget6.flip{
    transform: rotateY(180deg);
}