.table{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1c;
    color: #fff;
    border-collapse: collapse;
    /*table-layout: fixed; */
}



th, td{
    border: 1px none white;
    border-bottom-style: solid;
}


.positif{
    color: green;
    text-align: end;
    padding-right: 4%;
    
}

.negatif{
    color: red;
    text-align: end;
    padding-right: 4%;
}

.prix{
    text-align: start;
}

.logo-nom{
    text-align: start;
    max-width: 280px;

}



.namecrypto{
    margin-left: 30%;
    justify-content: top;
}

@media screen and (max-width:970px){
    .table{
        font-size: 100%;
    } 

    .logo-nom{
        width: 33%;
    }

    .prix{
        text-align: end;
        padding-right: 10%;
    }

    .negatif{
       padding-right: 15%; 
    }

    .positif{
        padding-right: 15%; 
    }
}

@media screen and (max-width:562px){
    .table{
        font-size: 80%;
    } 

    .logo-nom{
        width: 33%;
    }

    .prix{
        text-align: end;
    }
}

@media screen and (max-width:427px){
    .table{
        font-size: 60%;
    } 
}








