.table{
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1c;
    color: #fff;
    border-collapse: collapse;
}
th, td{
    border: 1px none white;
    border-bottom-style: solid;
}


.text-sucess{
    color: green;
    text-align: end;
    padding-right: 4%;
    
}

.text-danger{
    color: red;
    text-align: end;
    padding-right: 4%;
}

.prix{
    text-align: start;
}

.logo-nom{
    text-align: start;
    

}

.namecrypto{
    margin-left: 30%;
    justify-content: top;
}








